<div class="p text-center my-4 px-3">
    Te presento proyectos académicos realizados y el aprendizaje que he obtenido de ellos:
</div>
<div class="container-fluid" id="contenedor-proyectos">
    <div class="card shadow-lg mb-2  mx-auto w-75 tarjeta-proyecto" *ngFor="let proyecto of proyectos">
        <div class="row py-3 px-3">
            <div class="col-lg-3 col-xs-12 col-sm-12 align-self-start">
                <img 
                src="{{proyecto.imagen}}" 
                alt="Sistema de gestion odontológica en la interfaz de cargar odontograma" 
                class="img-fluid mx-auto d-block imagen-proyecto">
                <div class="h6 text-center py-3">
                    {{proyecto.titulo}}
                </div>
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-12 columna-aprendizaje mx-auto">
                <div class="h4 my-2 text-center">Aprendizaje:</div>
                <div class="p my-3 px-4">
                    <ul *ngFor="let habilidad of proyecto.habilidades; let i=index">
                        <li>{{habilidad}} <br></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer [tipoFooter]="tipoFooter" [tituloFooter]="tituloFooter" [listaFooter]="listaFooter"></app-footer>