*{
    color: white;
}
a{
    text-decoration: none;
}
#pie-web{
    min-height: 29.5vh;
    background-color: #2C3333;
    margin: 0;
    width: 100%;
}
#contenedor-footer-1{
    min-height: 23vh;
}
#referencia{
    font-size: 12px;
    font-style: italic;
}