.tarjeta-proyecto{
    border-radius: 40px;
}
.imagen-proyecto{
    border-radius: 100px;
    height: 30vh;
    border: 1px solid #0E8388;
}
#contenedor-proyectos{
    height: 55vh;
    overflow: auto;
}