#contenedor-principal{
    min-height: 68.5vh;
}
.carousel-item h5 {
    color: #1985A1;
}
.carousel-item p {
    color: #0E8388;
}
.carousel-caption{
    background-color: #2C3333;
    opacity: 0.95;
}