<div class="container-fluid text-center" id="contenedor-principal">
    <div class="row mx-2" id="contenedor-sobre-mi">
        <div class="columna-contenido col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-2 align-self-center">
            <img src="assets/img/yoo.jpg" alt="" width="200px" height="200px" style="border-radius: 100px; border:1px solid #0E8388">
            <div class="h3"> David Alexander Aguirre Gallardo</div>
            <div class="p"> Ingeniero de Software</div>
            <div class="p"> Escuela Politécnica Nacional</div>
            <div class="p"> davidaguirreg@gmail.com</div>
        </div>
        <div class="columna-contenido col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-2 align-self-center d-flex align-items-center" id="cuadrado-objetivo">

            <div class="p px-3">
                <h2>Mi objetivo es </h2> generar un impacto positivo en mi entorno
                por medio de la interacción con las personas y la implementación de
                soluciones tecnológicas.
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>